{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <!-- Logo image -->
            <div class="col-md-3 logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
            </div>
            <!-- Site description -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <p>
                            Every now and then we get preoccupied with stuff, meeting friends, work and what not. This app will help users list and preview news articles from various sources.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <a href="https://github.com/Hillarydalie">
                            <img class="featuredimage" src="{{ url_for('static', filename='images/social/github.png') }}">
                        </a>
                        <a href="https://twitter.com/Hillarydalie">
                            <img class="featuredimage" src="{{ url_for('static', filename='images/social/twitter.png') }}">
                        </a>
                        <a href="https://wa.me/254726083057">
                            <img class="featuredimage" src="{{ url_for('static', filename='images/social/whatsapp.png') }}">
                        </a>
                        <a href="https://open.spotify.com/user/jkne22gl1t3g486r025hs2jlb?si=wvNWqy6ETDSR9s3jhbLtUw">
                            <img class="featuredimage" src="{{ url_for('static', filename='images/social/spotify.png') }}">
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="bc">
        <div class="row">
            {{macro.showSources(sources)}} 
        </div>
    </div>
{% endblock %}  